<div class="container m-auto">
<form action="/restaurants/{{id}}/?_method=PUT" method="POST">
  {{#each detail}}
  <input type="text" style="display: block; width: 50%;" value ={{this}} name={{@key}} required>
  {{/each}}
  <button class="btn btn-success" type="submit">Edit</button>
</form>
</div>